# Firebase Storage (ảnh sản phẩm)

FIREBASE_STORAGE_BUCKET=gs://extreme-core-447402-b2.firebasestorage.app
FIREBASE_PROJECT_ID=extreme-core-447402-b2
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@extreme-core-447402-b2.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY=""
